#container_map{
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  padding-top: 3%;
  width: 90%;
}
#titre_contact{
  padding: 0% 5% 0 5%;
  font-family: 'Architects Daughter', cursive;
  font-size: 2.3em;
}
#telephone{
  padding: 0 5% 3% 5%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
#telephone p:not(#titre_contact){
  font-size: 1.3em;
  font-weight: 300;
}
#telephone span{
  font-weight: bold;
}
#horaires{
  padding-left: 15px;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
}
#horaires span{
  font-weight: 700;
}
.sous_horaire{
  padding-left: 15px;
  text-align: center;
}




/*-----------------------------------------------------------Formulaire de contact*/

#container_contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  padding-top: 3%;
  width: 90%;
}
#form{
  margin-left: 18vw;
}
form{
  padding: 2%;
  margin-left: 4vw;
  display: flex;
  flex-direction: column;
  width: 30vw;
  border: 1px solid rgb(91,88,88);
  color: rgb(91,88,88);
}
input{
  height: 40px;
  margin-bottom: 15px;
}
button{
  height: 40px;
  width: 100px;
  align-self: flex-end;
  margin-top: 50px;
}
#container_contact img{
  width: auto;
  height: 450px;
}

/*----------------------------------------Message d'erreur ou d'envoi du message formulaire*/
#success, #error{
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  color: white;
}
#success{
  background-color: #00B23C;
}
#error{
  background-color: #AE1915;
}
